@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --default-font8: 'Rubik', sans-serif;
    --font-h1-8: 500 36px/43px Rubik, sans-serif;
    --font-p8: 400 16px/22px Rubik, sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
    font-family: var(--default-font8);
}
.box1-9 {
	width: 100%;
	height: 700px;
	background: url(./img9/Big.svg) no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding-top: 100px;
}
.h1-9 {
	color: #363940;
	text-align: center;
	font: var(--font-h1-8);
}
.desc1-9 {
	color: #95A1BB;
	display: flex;
	justify-content: center;	
	text-align: center;
	font: var(--font-p8);
	margin-top: 20px;
}
.left {
	background-position: left;
	position: relative;
	top: 150px;
}
.right {
	display: flex;
	justify-content: right;
	position: relative;
	top: 125px;
}
.bottom {
	display: flex;
	justify-content: center;
	position: relative;
	top: 370px;
}