@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --default-font5: 'Rubik', sans-serif;
    --color-texts5: #363940;
    --color-desc1-5: #95A1BB;
    --font-h2-5: 500 32px/38px Rubik, sans-serif;
    --font-desc1-5: 500 12px/20px Rubik, sans-serif;
    --font-paragraph1-5: 400 16px/22px Rubik, sanf-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	font-family: var(--default-font5);
}
.header1-5 {
	width: 100%;
	height: 470px;
}
.container1-5 {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	padding-top: 100px;
}
.content1-5 {
	display: flex;
	gap: 100px;
	align-items: center;
}
.desc1-5 {
	color: var(--color-desc1-5);
	font: var(--font-desc1-5);
	letter-spacing: 2px;
	text-transform: uppercase;
}
.h2-5 {
	justify-content: flex-start;
	margin-top: 10px;
	color: var(--color-texts5);
	font: var(--font-h2-5);
}
.paragraph1-5 {
	margin-top: 20px;
	color: var(--color-texts5);
	font: var(--font-paragraph1-5);
}