* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'HelveticaNeueCyr', sans-serif;
	user-select: none;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 979px;
    height: 701px;
    border-radius: 15px;
    background: #181818;
    display: flex;
    overflow: hidden;
}
.container .left {
    width: 452px;
    height: 100%;
    background: url(./img/background.png), linear-gradient(180deg, #00000020, #00000020),
    no-repeat;
    text-align: center;
    padding-top: 265px;
}
.left h2.title {
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	font-style: normal;
	font-family: 'HelveticaNeueCyr';
}
.left p.desc {
	width: 278px;
	color: #E1BB97;
	font-size:15px;
	font-weight: 400;
	font-style: normal;
	margin: 20px auto 30px;
	text-align: center;
}
.btn {
	width: 328px;
	height: 53px;
	font-weight: 500;
	font-size: 22px;
	border: 1px solid #E1BB97;
	border-radius: 26.5px;
	background: transparent;
	color: #fff;
	text-align: center;
	cursor: pointer;
}	
.container .right {
    width: calc(979px - 452px);
    text-align: center;
    padding-top: 142px;
}
.container .right .title {
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
} 
.right .list {
	list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px auto;
    gap: 12px;
}
.list img { transition: all 0.4s ease; 
}
.list a:hover img {
    transform: rotate(1deg) scale(1.1);
}
.caption {
	color: #fff;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
input {
	width: 328px;
	height: 50px;
	color: #7C6957;
	border: 1px solid #E1BB97;
	border-radius: 25.5px;
	background: transparent;
	margin: 15px;
	padding-left: 40px;
	margin-left:20px;
}
.input1 {
	background-image: url(./img/mail.png);
	background-repeat: no-repeat;
	background-position: 15px;
}
.input1::placeholder { 
	color: #7C6957;
	position: absolute; 
	left: 40px;
	gap: 40px;
}
.input2 {
	background-image: url(./img/lock.png);
	background-repeat: no-repeat;
	background-position: 15px;
}
.input2::placeholder { 
	color: #7C6957;
	position: absolute; 
	left: 40px;
}
.btn2 {
	width: 328px;
	height: 53px;	
	border: 2px solid #E1BB97;
	border-radius: 26.5px;
	background-color: #E1BB97;
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	xmargin-bottom: 15px;
}
.btn2:hover {
	background: #fff;
	border: 1px solid white;
	color: #000;
	transition: all 0.9s ease;
}
.forgot {
 	color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-decoration-line: underline;
    display: flex;
    padding-top: 15px;
    justify-content: center;
}