* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
.container {
	width: 100%;
	height: 100vh;
	background: url(./img/bg.png) no-repeat;
	background-size: cover;
	position: relative;
}
.logo-box {
	position: absolute;
	top: 40px;
	left: 40px;
	cursor: pointer;
}
.form {
	position: absolute;
	right: 53px;
	top: calc(50% - 479px / 2);
	width: 479px;
	height: 497px;
	border-radius: 27px;
	border: 1px solid none;
	opacity: 0.9;
	background: linear-gradient(109deg, rgba(201, 201, 201, 0.80) 1.57%, rgba(196, 196, 196, 0.10) 100%);
	backdrop-filter: blur(30px);
	padding: 20px 30px 30px;
}
h2 {
	width: 100%;
	color: #fff;
    font-family: 'Iceland';
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.line { 
	border: 1px;
}
h4 {
	width: 419px;
	height: 24px;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0em;
	padding: 10px 0 60px;
}
.p {
	width: 79px;
	height: 18px;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 5px;
}
input {
	width: 100%;
	height: 50px;
	border-radius: 7px;
	border: 1px solid white;
	opacity: 0.5;
	background: linear-gradient(109deg, rgba(201, 201, 201, 0.80) 1.57%, rgba(196, 196, 196, 0.10) 100%);
	padding-left:15px ;
	margin-top: 5px;
	margin-bottom: 30px;
}
input::placeholder {
	color: white;
	font-size: 15px;
}	
.a1 {
	width: 	200px;
	height: 15px;
	font-size: 15px;
	color: white;
	position: absolute;
	left: 310px;
	padding: 5px;
	margin-top: -20px;
	font-family: 'Montserrat';
	cursor: pointer;
}
button {
	width: 100%;
	height: 50px;
	color: black;
	background: #A5D9D0;
	border: none;
	border-radius: 7px;
	font-family: 'Montserrat';
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin: 30px 0 30px;
	cursor: pointer;
	transition: all 0.3s;
}
button:hover {
	background-color: white;
}
.p1 {
	color: #FFF;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	cursor: pointer;
	margin: -15px 0;
	padding-left: 105px;
}
@media screen and (max-width:590px){
	.form {
  		width: 100%;
  		position: relative;
		right: 0;
	}
	.container {
		width: 100%;
		height: 100vh;
		padding: 0 15px;
	}
  }
