* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
body {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #262222;
}
.container {
	width: 1200px;
	height: 628px;
	margin: 55px 5px 55px 91px;
	background: url("img/bg.png");
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}
.logo {
	position: relative;
	right: 620px;
	margin: 9px;
}
.form {
	margin-right: 53px;
	width: 479px;
	height: 497px;
	border-radius: 27px;
	border: 1px solid none;
	opacity: 0.9;
	background: linear-gradient(109deg, rgba(201, 201, 201, 0.80) 1.57%, rgba(196, 196, 196, 0.10) 100%);
}
h2 {
	color: #fff;
    font-family: 'Iceland';
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 20px 30px 0px;
}
.line { 
	border: 1px;
	padding: 10px 30px 10px;
}
h4 {
	width: 419px;
	height: 24px;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	padding: 0px 30px 70px;
}
.p {
	width: 79px;
	height: 18px;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding:0 30px;
}
input {
	width: 419px;
	height: 50px;
	border-radius: 7px;
	border: 1px solid white;
	opacity: 0.5;
	background: linear-gradient(109deg, rgba(201, 201, 201, 0.80) 1.57%, rgba(196, 196, 196, 0.10) 100%);
	margin: 5px 30px 30px;
	padding: 15px;
}
input::placeholder {
	color: white;
	font-size: 15px;

}	
.a1 {
	width: 	108px;
	height: 15px;
	font-size: 15px;
	color: white;
	position: absolute;
	margin: -20px 340px;
	text-decoration: none;
}
button {
	width: 419px;
	height: 50px;
	color: black;
	background: #A5D9D0;
	border: none;
	border-radius: 7px;
	font-family: 'Montserrat';
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin: 30px 30px;
	cursor: pointer;
	transition: all 0.3s;
}
button:hover {
	background-color: white;
}
.p1 {
	color: #FFF;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	margin: -20px 130px 10px 130px;
	cursor: pointer;
}




