@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}
.box1 {
	padding: 130px 0px 79px;
    background: url(./img/bg1.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.container {
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.box1 .container {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 95px 
}
.logo {
	display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px 
}
a {
	text-decoration: none;
}
.logo-text {
	color: #fff;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 104.5%;
	text-transform: uppercase; 
}
.logo-text span {
    font-size: 32px;
    font-weight: 700;
    line-height: 104.5%;
    letter-spacing: 22.4px;
}
.text p {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 22px;
	text-align: center;
}
.body {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px
}
.servis {
	list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
    user-select: none;
    padding: 10px;
    background: transparent;
}
.li {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
}
.li span {
	color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}
.btn {
	color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding: 20px 60px;
    border-radius: 10px;
    background: #50B2EA;
    box-shadow: 0px 20px 40px 0px rgba(129, 209, 255, 0.20);
    border: 2px solid transparent;
    cursor: pointer;
}
.box2 {
	padding: 100px 0 50px 0;
    position: relative;
}
.box2 .container {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.form {
	width: 100%;
    border: 3.5px solid #fff;
    border-radius: 40px;
    background: #50B2EA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.form .left {
	width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    padding: 85px 0 85px 45px;
}
.text2 {
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.text2 h2 {
	color: #fff;
    font-size: 48px;
    font-weight: 700;
}
.text2 p {
	color: #19435A;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.ul {
	list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
}
.list {
	display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.list span {
	color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.form .right {
	width: 50%;
    height: 522px;
    background: url(./img/bg2.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.btn2 {
    border: 2px solid #fff;
	background: #50B2EA;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    line-height: 22px;
    font-size: 14px;
    box-shadow: 0px 20px 20px 0px rgba(129, 209, 255, 0.20);
    padding: 16px 52px;
    cursor: pointer;
}
.box2> .right {
	position: absolute;
    width: 50%;
    height: 100%;
    background: #50B2EA;
    top: 0px;
    right: 0;
    z-index: -2	;
}
.box3 {
	padding-top: 50px;
    padding-bottom: 40px;
    background: #50B2EA;
}
.box3 .container {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.box3 h2 {
	color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.box4 {
	padding-top: 28px;
    padding-bottom: 50px;
}
.box4 .container {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px
}
.servic-list {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 100px; 
}
.ul-list {
	list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.ul-li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px 
}
.ul-li .title {
    color: #50B2EA;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.ul-li p {
    color: #19435A;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.btn4 {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: #50B2EA;
    padding: 16px 52px;
    border: 2px solid transparent;
    cursor: pointer;
}
.box5 {
    padding: 50px 0;
    background: #50B2EA;
}
.box5 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.box5-h2 {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.testimonial-center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 46px;
}
.testimonial-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}
.testimonial-top {
    border-radius: 40px;
    background: #fff;
    box-shadow: 0px 20px 20px 0px rgba(129, 209, 255, 0.20);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 14px;
    padding: 30px;
} 
.text-box5 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}
.text-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 13px 
}
.text-box h2 {
    color: #50B2EA;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.text-box p {
    color: #19435A;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    gap: 30px; 
}
.box6 {
    padding: 50px 0;
}
.box6 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.box6 h2 {
    color: #50B2EA;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 14px
}
.input {
    width: 370px;
    height: 64px;
    border-radius: 40px;
    opacity: 0.5;
    background: #50B2EA;
    color: #fff;
    padding: 20px;
    border: none;
    outline: none;
    font-size: 18px;
}
.btn-contact {
    color: #fff;
    width: 148px;
    height: 64px;
    font-weight: 500;
    border: none;
    background: #50B2EA;
    border-radius: 40px;
    opacity: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title1 {
    width: 100%px;
    height: 80px;
    background-color: #19435A;
}
